[Unit]
Description=Closed LAN NTP server
Documentation=https://github.com/andycranston/clanntps

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/clanntps.py --bind 10.1.254.6

[Install]
WantedBy=multi-user.target
